*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    position: relative;
    width: 100%;
    height: 632px;
}
main{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #89C5CC;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 118.182% */
}
ul{
  display: flex;
  gap: 3rem;
}
li a{
    color: var(--1f1534-hyfen, #1F1534);
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero{
    width: 100%;
    height: 433.64px;
    display: flex;
}

.hero .card-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

.card-left h1{
    color: #1F1534;
    font-family: Mulish;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 114.286% */
}
.card-left p{
    color: #7D7987;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    max-width: 60%;
}

.card-left #destaque{
    color: #89C5CC;
    font-family: Mulish;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}
.card-left button{
    padding: 0.8rem 2.5rem;
    margin-top: 2rem;
    border-radius: 4px;
    background: var(--Primary-color, #69B99D);
    border: none;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 10px;
    color: var(--Background-1, #F9F9F9);

}

.card-left button:hover{
    cursor: pointer;  
}
footer{
    text-align: center;
    padding: 2rem 0;
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}
footer a{
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
#bolinhas{
    position: absolute;
    width: 98.47px;
    height: 88.001px;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}
